<!DOCTYPE html>
<html lang=“ja”>
<head>
<meta charset=“UTF-8”>
<style type="text/css">
textarea{
width:100%;
height:30%;
}
table{
margin:auto;
}
</style>
</head>

<body>
<form method="post" name="input">
  <textarea name="text" id="text" cols="100" rows="20" placeholder="ここに英文を入力してください">{{ request.form['text'] }}</textarea>
  </br>
  <table>
    <td>
      <button class="submit" value="translate" >Submit!</button>
    </td>
  </table>
</form>

  </br>  
  <table>
    <td>
      <button class="button">Copy!</button>
      <script>${script}</script>
    </td>
  </table>
<textarea id="shaping_text" cols="100" rows="20" placeholder="ここに整形後の英文が出力されます">
</textarea>
</br>
</br>
</body>