{% extends 'base.html' %}
{% block content %}

<body>
<form method="post" name="input">
  <textarea name="text" id="text" cols="100" rows="20" placeholder="ここに英文を入力してください">{{ request.form['text'] }}</textarea>
  </br>
  <table>
    <td>
      <button>Shaping!</button>
    </td>
  </table>
</form>

  </br>  
  <table>
    <td>
      <button id="copy">Copy!</button>
    </td>
  </table>
<textarea id="shaping_text" cols="100" rows="20" placeholder="ここに整形後の英文が出力されます">
</textarea>
</br>
</br>
</body>
{% endblock content %}